body {
  background: url(../images/magazines.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .header-logo {
  margin: 5em 2em;
}

header .header-logo h1 a {
  font: bold 2em Sans-Serif;
  color: #fff;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc, 7px 6px 2px #333;
}

header a svg {
  margin-right: 0.5em;
}


header ul li {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;   
  border-bottom: 0.25em solid transparent;
}

header ul li:hover {
  border-bottom: 0.25em solid white;
}

header ul li .dropdown-item:hover {
  background-color: unset;
}

header,
main{
  background-color: rgba(255,255,255,0.25);
}

.carousel-inner,
.carousel-item {
  height: 30em;
}

footer {
  background-color: rgba(255,255,255,0.95);
}

#slideshow-direct-book-magazine-sales {
    background: -webkit-cross-fade(url(../images/book-sales.jpg),
      url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7),
      50%
    ) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slideshow-why-company {
    background: -webkit-cross-fade(url(../images/why.jpg),
      url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7),
      50%
    ) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5em solid transparent;
  border-left: 6em solid #198754;
  border-right: 5em solid transparent;
  border-bottom: 5em solid transparent;
  position: absolute;
  margin-left: -1.5em;
  margin-top: 6.75em;
}

/* Small devices */
@media only screen and (max-width: 767px) {
  .arrow-right {
    margin-top: 14em;
    margin-left: -13em;
    border-top: 2em solid transparent;
    border-left: 2em solid #198754;
    border-right: 2em solid transparent;
    border-bottom: 2em solid transparent;
    transform: rotate(90deg);
    z-index: 0;
  }
}
/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .arrow-right {
    margin-top: 12em;
    margin-left: -20em;
    border-left: 2em solid #198754;
    transform: rotate(90deg);
  }
}
/* Large devices */
@media only screen and (min-width: 992px) and (max-width: 1999px){
  .arrow-right {
    margin-top: 7.5em;
  }
}
/* Extra large devices */
@media only screen and (min-width: 1200px) {
  .arrow-right {
    margin-top: 7.75em;
  }
}
 /* Extra extra large devices */
@media only screen and (min-width: 1400px) {
  .arrow-right {
    margin-top: 6.75em;
  }
}